@font-face { font-family: 'Lato'; font-display: swap; font-style: normal; font-weight: 100; src: local('Lato'), url('/lato-light.woff2') }
html { font-family: 'Lato', 'Segoe UI'; font-size: 16px; font-variant: small-caps; }
body { margin: 0; background: white; color: black; overflow-x: hidden; width: 100vw; height: 100vh; }
body::-webkit-scrollbar { display: none; }
a { color: inherit; text-decoration: none; }
/* DNFBitBitv2 폰트 추가 */
@font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
  }

@font-face {
  font-family: 'TTHakgyoansimUndongjangL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimUndongjangL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}